<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="consumerKey" value="ljUDxsBfRluXRQFOWomMBg"/>
    <add key="consumerSecret" value="j2FSP0jLVS5MTLUVzXE8wRI0cmBBdVYYHyhaDfVWXxg"/>
    <add key="accessToken" value="2203817268-Dx3zDJ4GiEh7Q8AMJC3CEMA20GC38GGNjnvjiVE"/>
    <add key="accessTokenSecret" value="BaaukwRJK6D3VjuEUsGnJP0ZeyYo9hKAX8JKrXIA3PZxm"/>
    <add key="fbUserToken" value="CAADBrx9RvacBAO8yDuyw9jWNdivwP5FJQRutkJyFraWiZBg8kShwOaHwZASMSkZB6BoED2CldaZACNjPPfy4vKverVzZAbrQROSZBmhvg3mrPiWNZBqWPXYoEdtlZAj4cjq2sLnAMqEbXcAWWwfVZCvimHma5XANrkLCg0lVMIX0SPnW1DZCqb98dqzYxg0iivyS0ZD"/>
    <add key="fbAppIdLong" value="212957888888231|Q3xrXHkKMXRpUXsMG-Ykzz2NHlU"/>
    <add key="fbAppId" value="212957888888231"/>
    <add key="fbAppSecret" value="4c377e7acc2a8e4f404d1a77a98f9876"/>
  </appSettings>
</configuration>